* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.datetimepicker-dummy .datetimepicker-dummy-wrapper {
    font-size: 1.5em!important;
}
.datetimepicker-dummy .datetimepicker-dummy-wrapper::before, .datetimepicker-dummy .datetimepicker-dummy-wrapper:before {
    top: 50%!important;
    transform: translate(0px, -50%);
}

.navbar-brand a span{
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1.125;
    opacity: 0.75;
}
.navbar-brand .navbar-item img {
    max-height: 2.55em;
    margin-right: 10px;
}